<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Aluno</title>
</head>
<body>

	<h1>Cadastro de Aluno</h1>
	
	<form action="chamadaservlet" method="post">
		Nome: <input type="text" name="txtnome" autocomplete="off"><br><br>
		1º Bimestre: <input type="text" name="txtpri" autocomplete="off"><br><br>
		2º Bimestre: <input type="text" name="txtseg" autocomplete="off"><br><br>
		3º Bimestre: <input type="text" name="txtter" autocomplete="off"><br><br>
		4º Bimestre: <input type="text" name="txtqua" autocomplete="off"><br><br>
		<input type="hidden" name="acao" value="cadastro">
		<input type="submit" value="Cadastrar Aluno">
	</form>

</body>
</html>






